.block
  %h1.block-heading About us

  .block-text
    %h3 Our Story
    %p
      Eleanor and Ryan met in February 2016. After a few dates, despite spilt pints and Eleanor’s abiding love of taxidermy,
      they knew they really liked each other and they’ve been together since.

    %p
      In July 2017, they moved into their first flat in Camberwell, South East London, and it was there that Ryan proposed in December 2017.
      They share a love of terrible films, dark comedy, vegetables, beer and board games.
      Ryan puts up with Eleanor’s continued involvement in the Labour Party and sometimes Eleanor listens to Ryan talk about cycling.
