.container-fluid.form-container
  .row
    .col-md-6.offset-md-3
      %h1.text-center RSVP
      - unless @rsvp
        = form_tag('/access-code', remote: true, id: 'rsvp_code_form') do
          %p Please enter your RSVP code and we'll get your details
          #code_error
          %fieldset.form-group
            = text_field_tag :access_key, @access_key, placeholder: 'Enter your RSVP code...', required: true, class: 'form-control'
          = submit_tag 'Submit', class: 'btn btn-primary btn-lg'

      #rsvp_form
        - if @rsvp
          = render partial: 'partials/rsvp_form', locals: { rsvp: @rsvp }

  :coffee
    $(document).ready ->
      $('#rsvp_code_form').on('ajax:success', (event) ->
        $('#code_error').empty()
        [data, status, xhr] = event.detail
        if xhr.responseText.indexOf('error') != -1
          json_response = JSON.parse(xhr.responseText)
          $('#code_error').append '<p class="alert alert-danger">' + json_response.error + '</p>'
        else
          $('#rsvp_code_form').hide()
          $('#rsvp_form').append xhr.response
          $('#rsvp_form').show()
      )
