.banner-wrapper
  .banner-overlay
    .banner-text
      %h1 Eleanor
      %h1 &
      %h1 Ryan
      %h2 are getting married
      = link_to 'RSVP here', rsvp_landing_path, class: 'btn btn-info btn-lg'
  = image_tag image_path('lido'), class: 'img-fluid'

%main
  = render partial: 'blocks/about_us'
  = render partial: 'blocks/faq'
